@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Roboto", sans-serif;
  /* overflow-x: hidden; */
}

.thumbs, .control-dots, .carousel-status{
  display: none;
}

.control-arrow{
  height: 50%;
  width: 100px;
}

/* .flowline p::after{
  content: "";
  width: 100%;
  background-color: transparent;
  display: block;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 1px;
  top: 35%;
  margin-top: -1px;
  z-index: 1;
} */

